* { box-sizing: border-box; }
body { margin: 0; }

#cookit-banner {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: .6rem 2rem;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}
#cookit-banner.hidden { display: none; }

#cookit-container {
  margin: auto;
  width: 1200px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#cookit-container > * { margin: .4rem; }

#cookit-container p { line-height: 1.4rem; }

#cookit-container a { text-decoration: none; }
#cookit-container a:hover { opacity: .9; }
#cookit-container a#cookit-button {
  padding: .5rem 1rem;
  margin-left: auto;
}